<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taotaoapi.mapper.HomeMapper">
    <select id="selectAllCountry" resultType="com.taotaoapi.home.country.CountryResponse">
        SELECT id,country_key AS `key`,name,icon
        FROM _countries
    </select>

    <select id="selectAllCategory"
            resultType="com.taotaoapi.home.CategoryResponse">
        SELECT id,categories_key AS `key`,name,icon
        FROM _categories
    </select>

    <select id="selectAllTags"
            resultType="com.taotaoapi.home.TagsResponse">
        SELECT id,tag_key AS `key`,name,icon
        FROM _tags
    </select>


    <insert id="insertArticle"
            parameterType="com.taotaoapi.home.article.Article"
            useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO _articles(user_id,country_id,category_id,title,content)
        VALUES(#{userId},#{countryId},#{categoryId}, #{title}, #{content} )

    </insert>

    <insert id="insertArticleTag">
        INSERT INTO _article_tags(article_id,tag_id)
        VALUES(#{articleId},#{tagId})

    </insert>

    <insert id="insertArticleImage"
            parameterType="com.taotaoapi.home.Image">

        INSERT INTO _article_images(article_id,image_url,sort_order,is_cover)
        VALUES(#{articleId},#{imageUrl},#{sortOrder}, #{isCover})

    </insert>
    <select id="selectArticleList"
            resultType="com.taotaoapi.home.article.ArticleList">

        SELECT
        a.id,
        a.user_id AS userId,
        u.username,
        a.title,
        a.content,

        img.image_url AS coverImage,

        COALESCE(l.like_count, 0) AS likeCount,
        COALESCE(c.comment_count, 0) AS commentCount,
        COALESCE(f.favorite_count, 0) AS favoriteCount,

        CASE WHEN ul.user_id IS NOT NULL THEN TRUE ELSE FALSE END AS liked,
        CASE WHEN uf.user_id IS NOT NULL THEN TRUE ELSE FALSE END AS favorited,

        a.created_time AS createdTime

        FROM _articles a

        JOIN _user u ON u.id = a.user_id

        LEFT JOIN _article_images img
        ON img.article_id = a.id
        AND img.is_cover = TRUE

        LEFT JOIN (
        SELECT article_id, COUNT(*) AS like_count
        FROM _article_likes
        GROUP BY article_id
        ) l ON l.article_id = a.id

        LEFT JOIN (
        SELECT article_id, COUNT(*) AS comment_count
        FROM _comments
        GROUP BY article_id
        ) c ON c.article_id = a.id

        LEFT JOIN (
        SELECT article_id, COUNT(*) AS favorite_count
        FROM _article_favorites
        GROUP BY article_id
        ) f ON f.article_id = a.id

        LEFT JOIN _article_likes ul
        ON ul.article_id = a.id
        AND ul.user_id = #{userId}

        LEFT JOIN _article_favorites uf
        ON uf.article_id = a.id
        AND uf.user_id = #{userId}

        <where>
            <if test="query.keyword != null and query.keyword != ''">
                AND (
                a.title LIKE CONCAT('%', #{query.keyword}, '%')
                OR a.content LIKE CONCAT('%', #{query.keyword}, '%')
                )
            </if>

            <if test="query.categoryId != null">
                AND a.category_id = #{query.categoryId}
            </if>

            <if test="query.countryId != null">
                AND a.country_id = #{query.countryId}
            </if>
            <if test="query.lastId != null">
                AND a.id &lt; #{query.lastId}
            </if>
        </where>

        ORDER BY a.id DESC
        LIMIT #{query.size}

    </select>
    <select id="countArticles" resultType="java.lang.Long">

        SELECT COUNT(*)
        FROM _articles a
        <where>
            <if test="keyword != null and keyword != ''">
                AND (
                a.title LIKE CONCAT('%', #{keyword}, '%')
                OR a.content LIKE CONCAT('%', #{keyword}, '%')
                )
            </if>
            <if test="categoryId != null">
                AND a.category_id = #{categoryId}
            </if>
            <if test="countryId != null">
                AND a.country_id = #{countryId}
            </if>
        </where>
    </select>
</mapper>