<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taotaoapi.mapper.UserMapper">
    <!-- 新增使用者資料 -->
    <insert id="insertUser" parameterType="com.taotaoapi.home.user.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO _user (firstname,lastname,nickname,email,password,phone,role)
        VALUES (#{firstname},#{lastname},#{nickname},#{email},#{password},#{phone},#{role})
    </insert>
    <!-- 查詢使用者電子郵件 -->
    <select id="findByEmail" resultType="com.taotaoapi.home.user.User">
        SELECT id,firstname,lastname,nickname,email,password,phone,role,intro,image_url
        FROM _user
        WHERE email = #{email}
    </select>
    <!--計算使用者文章數量-->
    <select id="countUserArticles" resultType="long">
        SELECT COUNT(*)
        FROM _articles
        WHERE user_id = #{userId}
    </select>
    <!--更新個人主頁資訊-->
    <update id="updateUser" parameterType="com.taotaoapi.home.user.User">
        UPDATE _user
        SET
            nickname = #{nickname},
            intro = #{intro},
            image_url = #{imageUrl}
        WHERE id = #{id}
    </update>
</mapper>